button {
  outline: none;
  border-radius: 5px;
  font-size: 1.1rem;
  padding: 7px 15px;
  cursor: pointer;
  border: none;
  transition: 0.3s;
  margin-right: 10px;
}

button:hover {
  transform: scale(98%);
}

.black {
  background: linear-gradient(45deg, rgb(77, 77, 77), black);

  color: white;
}

.black:hover {
  background: linear-gradient(45deg, rgb(104, 104, 104), black);
}

.blue {
  background: linear-gradient(45deg, #589bff, #0d6efd);

  color: black;
}

.blue:hover {
  background: linear-gradient(45deg, #6ca7ff, #0d6efd);
}
