nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  position: relative;
  z-index: 6;
}

.logo {
  font-weight: 600;
  font-size: 1.4rem;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.pointer {
  cursor: pointer;
  transition: 0.3s;
}

.pointer:hover {
  color: #0d6efd;
}

.menu-details {
  position: absolute;
  z-index: 3;
  padding: 50px 0 30px;
  width: 100%;
  left: 0px;
  top: 70px;
  background-color: rgb(255, 255, 255);
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.199);
}

.Resaurses {
  display: none;
}

.Products {
  display: none;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  gap: 30px;
}

.title-menu {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 40px;
}

.element {
  transition: 0.5s;

  border-radius: 10px;
  padding: 20px 30px;
  cursor: pointer;
}

.element:hover {
  background-color: #0d6dfd31;
}

.element p:first-child {
  font-size: 1.1rem;
  margin-bottom: 15px;
  transition: 0.5s;
}

.element:hover p:first-child {
  color: #0d6efd;
}

.element p:last-child {
  font-size: 0.9rem;
  opacity: 70%;
}

.arraw2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arraw1 {
  transition: 0.3s;
}

.arraw {
  transform: rotate(180deg);
}

.buttons {
  display: flex;
  align-items: center;
}

.menu {
  font-size: 1.3rem;
  cursor: pointer;
  display: none;
}

@media (max-width: 860px) {
  nav {
    padding: 15px 20px;
  }

  .menu {
    display: block;
  }

  nav ul {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);

    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    gap: 0;
  }

  .hidden {
    display: none;
  }

  nav li {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.199);
  }

  .pointer {
    padding: 20px;
    font-size: 1.3rem;
  }

  .list-item {
    justify-content: space-between;
    align-items: center;
  }

  .arraw2 {
    width: 35px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.062);
    border-radius: 50%;
    transition: 0.5s;
  }

  .pointer:hover .arraw2 {
    background-color: #0d6dfd31;
  }

  .pointer:hover {
    color: #0d6efd;
    background-color: #0d6dfd31;
  }

  .menu-details {
    position: relative;
    top: 000px;
    padding-top: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    transition: 2.3s;
  }

  .details {
    overflow: hidden;

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .title-menu {
    display: none;
  }

  .menu-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 00px;
  }

  .element {
    border-radius: 0px;
    padding: 10px 20px;
  }

  .element p:first-child {
    font-size: 1rem;
    margin-bottom: 10px;
    opacity: 90%;
  }
}
